   /*general styles*/

   * {
       box-sizing: border-box;
   }

   body {
       font-family: 'Verdana', sans-serif;
   }

   .container {
       margin: 0 auto;
       height: 100vh;
   }

   .header {
       position: relative;
       height: 100%;
       background-image: url(../css/obrazy/man-1.jpg);
       background-size: cover;
       background-position: center;
   }

   .header-content {
       position: absolute;
       top: 50%;
       left: 0;
       text-transform: uppercase;
       margin: 0 30px;
       color: #fff;
   }

   .small-text {
       font-size: 1.5em;
   }

   .big-text {
       font-size: 1.8em;
       font-weight: bold;
   }

   /*responsive CSS*/

   @media (max-width: 1170px) {
       .container {
          flex-basis: 70%;
       }

       .header {
           height: 70%;
           background-image: url(../css/obrazy/man-2.jpg);
       }

       .header-content {
           top: 10%;
           left: 55%;
       }

       @media (max-width: 992px) {

           .header {
               background-image: url(../css/obrazy/man-1.jpg);
               height: 50%;
           }

           .header-content {
               position: relative;
               top: 100%;
               left: 0;
               text-align: center;
               color: #000000;
           }
